// define variables that influence the bulma build
// see https://bulma.io/documentation/customize/variables/

// $red: rgb(231, 106, 166);
$red: #CC427F
$grey: #8E9FA9

$size-1: 3.5rem
$size-4: 1.6rem
$size-5: 1.2rem

$body-color: darken($grey, 10%)
$family-sans-serif: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", "Helvetica", "Arial", sans-serif
$family-serif: "Merriweather", serif
$family-monospace: "Inconsolata", "Consolas", "Monaco", monospace