@import "_variables"
@import "../../../node_modules/bulma/bulma"

h1, h2, h3, h4
  text-transform: uppercase !important
  font-family: 'Roboto Condensed', 'Merriweather' !important
  font-weight: 700
  color: $red

.content h1, .content h2, .content h3, .content h4
  color: $red

.navbar-item, .navbar-item a
  text-transform: uppercase
  font-weight: bold
  color: $grey !important

a
  color: $red !important

.navbar-brand
  a
    color: $grey !important

html body .tag
  background: $grey !important
  color: $white !important
  font-weight: bold
  height: 1.5em
  padding-left: 0.5em
  padding-right: 0.5em
