@import "bulma/bulma"
@import "lib/bulma-helpers/bulma-helpers"
// @import "lib/highlight-js/paraiso-dark.min"
// @import "lib/algolia/theme"
// @import "site/main"

.content h2
  color: $red

.is-strong
  font-weight: bold

.is-tool-card
  .is-logo
    width: 75px
    height: 75px
    border-radius: 3px
  .level-item a
    color: $grey !important