@import "bulma/bulma"
@import "lib/bulma-helpers/bulma-helpers"
// @import "lib/highlight-js/paraiso-dark.min"
// @import "lib/algolia/theme"
// @import "site/main"

.is-size-1, .is-size-2, .is-size-3, .is-size-4, .navbar-brand
  text-transform: uppercase !important
  font-family: 'Roboto Condensed', 'Merriweather' !important
  font-weight: 700

a
  color: $red !important

.content h2
  color: $red

.is-strong
  font-weight: bold

.is-uppercase
  text-transform: uppercase
  font-family: 'Roboto Condensed', 'Merriweather' !important
  font-weight: 700

.has-dotted-line
  // border-bottom: 1px dotted $grey
  height: 5px
  background-image: linear-gradient(to right, $grey 10%, rgba(255, 255, 255, 0) 0%);
  background-position: top;
  background-size: 10px 1px;
  background-repeat: repeat-x;

.navbar-brand
  a
    color: $grey !important
  div.is-size-5
    font-size: 1.4rem !important

.navbar-item, .navbar-item a
  text-transform: uppercase
  font-weight: bold
  color: $grey !important

.is-size-1, .is-size-2, .is-size-3, .is-size-4
  color: $red
  a
    color: $red

.is-logo
  width: 75px
  height: 75px
  border-radius: 3px

.is-tool-card
  .level-item a
    color: $grey !important
